/* 
Here I set the default CSS properties
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
Here I make links white, without decoration
*/

a {
    color: #ffffff;
    text-decoration: none;
}

/* 
Here I make paragraphs 16px
*/

p {
    font-size: 16px;
}

/* 
Here I set the body background
*/

body {
    background-color: #d9dcd6;
}

/* 
Here are the styles applied to the header
*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* 
Here is how we make a big hero image in css
*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* 
Here are the styles applied to the section

I leveraged the semantic section tag
*/

section {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

section div{ 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* 
Here are the styles applied to the aside

I leveraged the semantic aside tag
*/

aside {
    margin-right: 20px;
    padding: 20px; 
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color:white;
}

aside div {
    margin-bottom: 32px;
    text-align: center;
    margin: 10px auto;
}

aside img {
    margin: 10px auto;
    max-width: 150px;
    display:block;
}

/* 
Here are the styles applied to the footer

I leveraged the semantic footer tag
*/


footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

footer h2 {
    font-size: 20px;
}
